Ice.Default.Locator=IceGrid/Locator -t:tcp -h 127.0.0.1 -p 9091
IceGrid.Node.Name=downloads-node
IceGrid.Node.Data=/tmp/db/downloads-node
IceGrid.Node.Endpoints=tcp

IceStorm.TopicManager.Proxy=IceStorm/TopicManager:tcp -p 10000
OrchestratorAdapter.Endpoints=tcp
DownloaderAdapter.Endpoints=tcp
TransferAdapter.Endpoints=tcp
TransferFactoryIdentity=transfer_factory
DownloaderFactoryIdentity=downloader_factory
Ice.IPv6=0
