Ice.Default.Locator=IceGrid/Locator -t:tcp -h 127.0.0.1 -p 9091
IceGrid.Node.Name=orchestrator-node
IceGrid.Node.Data=/tmp/db/orchestrator-node
IceGrid.Node.Endpoints=tcp

IceStorm.TopicManager.Proxy=IceStorm/TopicManager:tcp -p 10000
OrchestratorAdapter.Endpoints=tcp
OrchestratorAdapter.AdapterId=OrchestratorAdapter_1
OrchestratorAdapter.Locator=IceGrid/Locator -t:tcp -h 127.0.0.1 -p 9091
TransferFactoryIdentity=transfer_factory
DownloaderFactoryIdentity=downloader_factory
Ice.IPv6=0
