Ice.Default.Locator=IceGrid/Locator -t:tcp -h 127.0.0.1 -p 9091
IceGrid.Node.Name=orchestrator-node
IceGrid.Node.Data=/tmp/db/orchestrator-node
IceGrid.Node.Endpoints=tcp

IceStorm.TopicManager.Proxy=IceStorm/TopicManager:tcp -p 10000
ServerAdapter.Endpoints=tcp
TransferAdapter.Endpoints=tcp
TransferFactoryIdentity=TransferFactory_1
DownloaderFactoryIdentity=DownloaderFactory_1
Ice.IPv6=0
